<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>Shipme2</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<header>
<h1> ShipME </h1>
<nav>
<ul>
<li>Home</li>
<li>About</li>
<li>Work</li>
<li>Shop</li>
<li>Contact</li>
</ul>

</header>

<body>

<%= yield %>

</body>
</html>
